/** Buttons **/
button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 7px;
  font-size: 1rem;
  font-weight: bold;
  color: #444;
  border: 1px solid #888;
  border-radius: 2px;
}
p.col2 button {
  width: 49%;
  display: inline;
}
fieldset {
  border: 1px solid #888;
  border-radius: 3px;
}
fieldset.inline {
  border-width: 0;
  padding: 0px;
}
fieldset.inline > p {
  margin: 5px 0;
  border: 1px solid #888;
  border-radius: 2px;
  display: table;
  width: 100%;
}
fieldset.inline > p:hover {
  border-color: #0F0;
  box-shadow: 0 0 5px #0F0;
}
fieldset.inline > p > * {
  display: inline;
  margin: 0;
  padding: 5px;
  width: auto;
  height: 2rem;
  background: #FFF;
  color: #333;
  display: table-cell;
  vertical-align: middle;
}
fieldset.inline.compact > p > * {
  padding: 2px;
  height: 1.2rem;
  background: #FFF;
}
fieldset.inline > select {
  width: 100%;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 0.33rem;
}
fieldset.inline.text label {
  border-width: 0px;
  background-color: #EEE;
  width: 3rem;
  max-width: 3rem;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
fieldset.inline.check label,
fieldset.inline.text input {
  border-width: 0px;
  width: calc(100% - 3.5em);
}
fieldset.inline input:focus + button {
  color: #888;
}
fieldset.inline input[type="checkbox"],
fieldset.inline input[type="radio"] {
  margin: 15px
}
fieldset.inline button {
  padding: 5px 0;
  border-width: 0px;
  color: transparent;
}
fieldset.inline > textarea {
  border: 1px solid #888;
  border-radius: 2px;
  width: 100%;
}
input[type="range"] {
  width: 80%;
  margin: auto;
}
